<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Vishesh's Portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="typing-effect.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <%- include('header') %>

<main>
    <article class="center" id="top">
        <h2>Hello, This is</h2>
        <h1><%= data.name %></h1>
        <h2>And I'm <span class="typing-effect">God</span></h2>
        <p>A <%- data.age %>-Year-Old Self-Taught Full-Stack Developer.</p>
    </article>

    <article id="about">
        <h2>About Me</h2>
        <hr>
        <% for( let i = 0; i < paras.length; i++ ) { %>
            <p><%- paras[i] %></p>
        <% } %>
    </article>

    <article id="skills">
        <h2>My Launguages</h2>
        <hr>
        <ul class="languages">
            <% for( let i = 0; i < data.langs.length; i++ ) { %>
                <li><%- data.langs[i] %></li>
            <% } %>
        </ul>
    </article>
    
    <article id="hobbies">
        <h2>My Hobbies</h2>
        <hr>
        <ul class="hobbies">
            <% for( let i = 0; i < data.hobbies.length; i++ ) { %>
                <li><%- data.hobbies[i] %></li>
            <% } %>
        </ul>
    </article>

    <article id="projects">
        <h2 class="project">My Projects</h2>
        <hr>
        <% for( let i = 0; i < data.project.length; i++ ) { %>
            <div class="project">
                <h3><%- data.project[i].name %></h3>
                <p><%- data.project[i].description %></p>
                <a href="<%- data.project[i].link %>" target="_blank">View Project</a>
                <hr>
            </div>
        <% } %>
    </article>
</main>

    <%- include('footer') %>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".typing-effect", {
            strings: <%- JSON.stringify(data.what_i_do) %>,
            typeSpeed: 100,
            backSpeed: 50,
            loop: true,
            smartBackspace: true,
        });
    </script>
</body>
</html>