<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Vishesh Kudva</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="typing-effect.css">
    <link rel="icon" href="favicon.ico">
    <meta name="description" content="Vishesh Kudva's Portfolio - A 13-year-old self-taught full-stack developer showcasing projects, skills, and hobbies.">
    <meta name="keywords" content="Vishesh Kudva, Portfolio, Full-Stack Developer, Projects, Skills, Hobbies, Web Development">
    <meta name="author" content="Vishesh Kudva">
    <meta name="google-site-verification" content="-UuMJ7KoyTg_TmXop7tAakxDD4u19FkoT0nOsWyHVn0" />
    <meta name="google-site-verification" content="_6TgCwokbw4FFHbaBGiSEG1MPCitaTCiryHWNHchVCg" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Vishesh Kudva",
      "url": "https://vishesh-kudva.onrender.com",
      "jobTitle": "Web Developer",
      "description": "Vishesh Kudva is a self-taught web developer from New Zealand.",
      "sameAs": [
        "https://github.com/Visheshbons"
      ]
    }
    </script>
    <link rel="canonical" href="https://vishesh-kudva.onrender.com/" />
</head>
<body>
    <%- include('header') %>

<main>
    <article class="center" id="top">
        <h2>Hello, This is</h2>
        <h1><%= data.name %></h1>
        <h2>And I'm <span class="typing-effect"></span></h2>
        <p>A <%- data.age %>-Year-Old Self-Taught Full-Stack Developer.</p>
    </article>

    <article id="about">
        <h2>About Me</h2>
        <hr>
        <% for( let i = 0; i < paras.length; i++ ) { %>
            <p><%- paras[i] %></p>
        <% } %>
    </article>

    <article id="skills">
        <h2>My Languages</h2>
        <hr>
        <ul class="languages">
            <% for( let i = 0; i < data.langs.length; i++ ) { %>
                <li><%- data.langs[i] %></li>
            <% } %>
        </ul>
    </article>

    <article id="hobbies">
        <h2>My Hobbies</h2>
        <hr>
        <ul class="hobbies">
            <% for( let i = 0; i < data.hobbies.length; i++ ) { %>
                <li><%- data.hobbies[i] %></li>
            <% } %>
        </ul>
    </article>

    <article id="projects">
        <h2 class="project">My Projects</h2>
        <hr>
        <% for( let i = 0; i < data.project.length; i++ ) { %>
            <div class="project">
                <h3><%- data.project[i].name %></h3>
                <p><%- data.project[i].description %></p>
                <a href="<%- data.project[i].link %>" >View Project</a>
                <hr>
            </div>
        <% } %>
    </article>

    <article>
        <h2>Contact Me</h2>
        <hr>
        <p>If you want to contact me, please send me an email at <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
        <p>Or, you can use the <a href="<%- data.project[6].link %>">V-Blogger</a> site, shown up in projects.</p>
    </article>
</main>

    <%- include('footer') %>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".typing-effect", {
            strings: <%- JSON.stringify(data.what_i_do) %>,
            typeSpeed: 100,
            backSpeed: 50,
            loop: true,
            smartBackspace: true,
        });
    </script>
</body>
</html>
